html {
    /*     background: #e6e9e9;*/
    background-image: linear-gradient(rgb(227, 159, 5), rgb(216, 221, 221));

}

body {
    /*          background-image: url("../Images/download.jpg");*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

header nav {
    display: flex;
    align-items: flex-end;
}

h1,
h2 {
    color: black;
    font-family: bold;
    font-size: 8.0em
}

h3,
h4,
h5,
h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b,
strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

a:hover {
    color: white;
}

Form P {
    display: flex;
    margin-bottom: 1em;
}

Form Labels {
    flex-basis: 33%;
}

Form input,
textarea,
select {
    flex: 1;
    margin: 0 1em;
    border-radius: 5px;
}

Form Select {
    text-align: center;
}





@media screen and (max-width: 50rem) {

    header nav,
    main,
    footer,
    Form P {
        flex-direction: column;
    }

    form input,
    textarea {
        margin: 2px 0;

    }

    form select {
        margin: 0;
    }
}
